<!DOCTYPE HTML>
<html lang="en-US">
  <meta http-equiv="refresh" content="0; url=https://HOSTNAME:PORT/m.html" />
</head>
<body>
  <a href="https://HOSTNAME:PORT/m.html">Reload Thrasher</a>
</body>
</html>
