html { height: 99.8%; }
body { height: 99.8%;
       background-color: #333;
       border: medium solid #556;
       margin: 0;
     }
#container { display: grid;
             grid-template-columns: 1fr 1fr 2fr;
             grid-template-rows: 1fr 1fr 2em;
             height: 98vh;
           }

#facets {
    background-color: #aab;
    grid-row-start: 1;
    grid-row-end: 2;
    border-right: medium solid #556;
    overflow: hidden;
    font-family: "Lato", sans-serif;
}
#facets input, #facets label { cursor: pointer; }
#facetlist {overflow: scroll;}

#artists {
    background-color: #aab;
    grid-row-start: 2;
    grid-row-end: 3;
    border-top: medium solid #556;
    border-right: medium solid #556;
    overflow: hidden;
    font-family: "Lato", sans-serif;
}
#artists input, #artists label { cursor: pointer; }
#artistlist {overflow: scroll;}

#main { grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 5;
        background-color: #556;
        overflow: hidden;
        font-family: "Lato", sans-serif;
      }

#player { font-family: "Barlow Semi Condensed";
          font-weight: 400;
          font-size: x-large;
          background-color: #bbd;
          padding: 0.15em;
          min-height: 5.5em;
          border-bottom: medium solid #556;
          padding-top: 0.3em;
        }
#player table { min-height: 5.25em;
                margin-top: 5px;
              }

#foot, #footv { background-color: #bbd;
                border-top: medium solid #556;
                font-family: "Barlow Semi Condensed";
                font-weight: 400;
                font-size: large;
                padding-left: 0.3em;
                padding-bottom: 0.2em;
              }
#foot { grid-column-start: 1;
        grid-column-end: 3;
      }
#footv{ grid-column-start: 3;
        grid-column-end: 5;
        text-align: right;
}
#foot button { cursor: pointer; }
#footv button { cursor: pointer; }


.title { font-family: "Barlow Semi Condensed";
         font-weight: 400;
         font-size: x-large;
         background-color: #bbd;
         padding: 0.15em;
       }

.listfilter { padding: .2em;
              background-color: #cce;
              font-family: "Barlow Semi Condensed";
              font-weight: 400;
              text-align: right;
            }

.track { color: #000;
         padding-top: 0.5em;
         margin-bottom: 0.5em;
       }

.track td { background-color: #aab;
            padding: 0.2em;
            border-top: medium solid #556;
            vertical-align: top;
          }

.trackf td { background-color: #aab;
             padding: 0.3em;
             font-size: small;
             border-bottom: thick solid #556;
           }

.track2 { color: #000;
         padding-top: 0.5em;
         margin-bottom: 0.5em;
       }

.track2 td { background-color: #ccd;
            padding: 0.2em;
            border-top: medium solid #556;
            vertical-align: top;
          }

.trackf2 td { background-color: #ccd;
             padding: 0.3em;
             font-size: small;
             border-bottom: thick solid #556;
           }

#tracklist { overflow: scroll; }

#maintable { width: 100%;
             margin: 0;
             border-spacing: 0 0;
           }


#filter { font-family: "Inconsolata", monospace;
          background-color: #eee;
          border: thin solid #556;
          border-radius: 0.25em;
        }

h2 { margin-top: 0; margin-right: 0.7em; margin-bottom: 0.5em; font-weight: 400; }

#buttonbox { background-color: #444;
             padding-top: 0;
             padding-bottom: 0.3em;
             padding-left: 0.3em;
             padding-right: 0.3em;
             margin-right: 0.3em;
             border: solid thin #556;
             border-radius: 0.25em;
           }
#buttonbox button { cursor: pointer; }

#current { border-left: solid medium #556;
           margin-left: 1em;
           padding-left: 1em;
           vertical-align: top;
           width: 100%;
         }
#curtitle { }
#curaay { font-size: large;
          margin-bottom: 0;
          padding-bottom: 0;
        }
#curfacets { font-size: large;
             margin-bottom: 0;
             padding-bottom: 0;
           }
#curnum { font-size: large;
          margin-bottom: 0;
          padding-bottom: 0;
        }

#cover { object-fit: scale-down;
         max-height: 5em;
         width: auto;
       }
#coverbig { object-fit: scale-down;
            max-height: 600px;
            width: auto;
          }
#coverbigdiv { height: 604px;
               width: 604px;
               z-order: 5;
               position: absolute;
               top: 50%;
               left: 50%;
               margin-top: -302px;
               margin-left: -302px;
               justify-content: center;
               align-items: center;
               text-align: center;
               display: none;
             }

#fdata { margin-left: 2em; }

button { font-family: "Lato", sans-serif;
         background-color: #bbb;
         box-shadow: none;
         border: solid thin #556;
         border-radius: 0.4em;
       }

#vol { accent-color: #778;
       height: 0.7em;
       margin-bottom: 0;
       margin-right: 0.5em;
     }
#vol::-webkit-slider-thumb, #vol::-moz-range-thumb { cursor: pointer; }

.mono { font-family: "Inconsolata", monospace; background-color: #aac; padding: 0.2em; }
.monotime { font-family: "Inconsolata", monospace; }

.help { z-index: 5;
        font-family: "Lato", sans-serif;
        font-size: large;
        display: none;
        position: fixed;
        bottom: 0px;
        right: 0px;
        max-width: 50%;
        background-color: #ccd;
        border: solid thick #778;
        padding: 0.2em;
      }
.help h3 { font-family: "Barlow Semi Condensed";
           font-weight: 400;
           margin-top: 0.5em;
         }
.help .def { border-left: solid thin #556; padding-left: 0.2em;}


.alertify-notifier.ajs-right .ajs-message.ajs-visible { background-color: #bbc;
                                                        border: solid medium #556;
                                                        bottom: 2.5em;
                                                        font-family: "Lato", sans-serif;
                                                      }

.alertify .ajs-dialog { background-color: #bbc;
              border: solid medium #556;
              bottom: 2.5em;
              font-family: "Lato", sans-serif;
            }
.alertify .ajs-header { background-color: #bbc; border: 0; }
.alertify .ajs-body { background-color: #bbc; }
.alertify .ajs-footer { background-color: #bbc; border: 0; }
.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok { background-color: #99a; color: #000;}
