body { color: #000;
       background-color: #333;
       padding: 0.2em;
       font-family: sans-serif;
     }

button { background-color: #bbb;
         border: solid medium #ddd;
         border-radius: 0.3rem;
         padding: 0.2em;
       }

#container { display: grid;
             grid-template-columns: 1fr;
             grid-template-rows: 1fr 1fr 1fr;
             height: 98vh;
           }

#player { display: flex;
          grid-row-start: 1;
          grid-row-end: 2;
          width: 99%;
          margin-bottom: 0.5em;
        }

#controls { width: 100%;
          }
#controls button { margin-right: 0.35em;
                   margin-bottom: 0.2em;
                   font-size: 400%;
                 }

#facetlist {
    background-color: #bbb;
    border-right: medium solid #556;
    font-size: 150%;
    padding: 0.3em;
    margin-right: 1em;
    border: solid medium #ddd;
    border-radius: 0.4em;
    overflow: hidden;
    overflow: scroll;
    min-width: 25%;
}

#trkinfo { margin-right: 2em;
           background-color: #bbb;
           font-size: 150%;
           border: solid medium #ddd;
           border-radius: 0.4em;
           padding: 0.5em;
           margin-bottom: 0.5em;
           height: 5em;
         }

#tracklist { grid-row-start: 2;
             grid-row-end: 3;
             background-color: #556;
             font-size: 150%;
             border: solid medium #ddd;
             border-radius: 0.4em;
             padding: 0.2em;
             overflow: scroll;
         }

.track { color: #000;
         padding-top: 0.5em;
         margin-bottom: 0.5em;
       }

.track td { background-color: #aab;
            padding: 0.2em;
            border-top: medium solid #556;
            vertical-align: top;
          }

.trackf td { background-color: #aab;
             padding: 0.3em;
             font-size: small;
             border-bottom: thick solid #556;
           }

.track2 { color: #000;
         padding-top: 0.5em;
         margin-bottom: 0.5em;
       }

.track2 td { background-color: #ccd;
            padding: 0.2em;
            border-top: medium solid #556;
            vertical-align: top;
          }

.trackf2 td { background-color: #ccd;
             padding: 0.3em;
             font-size: small;
             border-bottom: thick solid #556;
           }

#maintable { width: 100%;
             margin: 0;
             border-spacing: 0 0;
           }


#foot { height: 1.5em; }
#foot button { color: #000; font-size: 200%; }

#vol      { margin-right: 4em; }
#recent   { margin-right: 0.5em; }
#uncheck  { margin-right: 0.5em; }
/*#reload   { margin-right: 0.5em; }*/

.alertify-notifier.ajs-right .ajs-message.ajs-visible { background-color: #bbb;
                                                        border: solid medium #ddd;
                                                        bottom: 2.5em;
                                                        font-family: sans-serif;
                                                        font-size: 150%;
                                                        border-radius: 0.4em;
                                                        padding: 0.3em;
                                                      }
